.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.countdownNumber__ay38S:global(.__wab_instance) {
  position: relative;
}
.text__tvUc {
  color: var(--token-QZ9BjK-EaOkt);
  font-family: var(--token-jV2m07Pqa0BC);
  font-size: 56px;
  align-self: center;
  line-height: 1.5;
}
.text__eAmSf {
  color: var(--token-QZ9BjK-EaOkt);
}
.countdownNumber__vYLhv:global(.__wab_instance) {
  position: relative;
}
.text___4ZhQs {
  color: var(--token-QZ9BjK-EaOkt);
  font-family: var(--token-jV2m07Pqa0BC);
  font-size: 56px;
  align-self: center;
  line-height: 1.5;
}
.text__iw7Tu {
  color: var(--token-QZ9BjK-EaOkt);
}
.countdownNumber___8Ny4C:global(.__wab_instance) {
  position: relative;
}
.text__qpsZy {
  color: var(--token-QZ9BjK-EaOkt);
  font-size: 56px;
  font-family: var(--token-jV2m07Pqa0BC);
  line-height: 1.5;
  align-self: center;
}
.text__aXhsr {
  color: var(--token-QZ9BjK-EaOkt);
}
.countdownNumber___5ZKxH:global(.__wab_instance) {
  position: relative;
}
.text__tGxfv {
  color: var(--token-QZ9BjK-EaOkt);
  font-family: var(--token-jV2m07Pqa0BC);
  font-size: 56px;
  line-height: 1.5;
  align-self: center;
}
.text__k22E {
  color: var(--token-QZ9BjK-EaOkt);
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
