.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.halcyonNavBar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#262626b8, #262626b8),
    url("/plasmic/copy_of_halcyon_studios/images/wellnessWebTakeoverPageTabsAmenities460X510Px07Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
}
.freeBox__by0Vo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox__by0Vo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__by0Vo > :global(.__wab_flex-container) > *,
.freeBox__by0Vo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__by0Vo > :global(.__wab_flex-container) > picture > img,
.freeBox__by0Vo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (max-width: 414px) {
  .freeBox__by0Vo {
    padding: 128px 32px;
  }
}
.freeBox__kwgwN {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1240px;
}
.freeBox__kwgwN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__kwgwN > :global(.__wab_flex-container) > *,
.freeBox__kwgwN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kwgwN > :global(.__wab_flex-container) > picture > img,
.freeBox__kwgwN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__ie677 {
  display: flex;
  flex-direction: column;
}
.freeBox__ie677 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ie677 > :global(.__wab_flex-container) > *,
.freeBox__ie677 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ie677 > :global(.__wab_flex-container) > picture > img,
.freeBox__ie677
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__cbf8Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__m6BSg {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-jgohepLVeKvh);
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 8px;
}
@media (max-width: 414px) {
  .text__m6BSg {
    text-align: center;
  }
}
.text__lsi8E {
  font-size: 20px;
  color: var(--token-FLc3Q0URvh0f);
  text-align: center;
  line-height: 28px;
  height: auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
  --plsmc-rc-col-gap: 36px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 414px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (max-width: 414px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (max-width: 414px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___17WKr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (max-width: 414px) {
  .column___17WKr {
    width: 100%;
  }
}
.freeBox___7ToXw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  border: 1px solid #e5e5ea;
}
.freeBox__wXwSq {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__wXwSq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__wXwSq > :global(.__wab_flex-container) > *,
.freeBox__wXwSq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wXwSq > :global(.__wab_flex-container) > picture > img,
.freeBox__wXwSq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__fdjVs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fdjVs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__fdjVs > :global(.__wab_flex-container) > *,
.freeBox__fdjVs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fdjVs > :global(.__wab_flex-container) > picture > img,
.freeBox__fdjVs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__pNlk5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__pNlk5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__pNlk5 > :global(.__wab_flex-container) > *,
.freeBox__pNlk5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pNlk5 > :global(.__wab_flex-container) > picture > img,
.freeBox__pNlk5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__e7TSk {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--token-PD8ia5WAW_VH);
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  margin-bottom: 4px;
  text-overflow: clip;
  padding: 2px 0px;
}
@media (max-width: 414px) {
  .text__e7TSk {
    text-align: center;
  }
}
.text__zakFw {
  color: #05050599;
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: calc(4px + 4px) !important;
  margin-bottom: 4px;
}
.freeBox__x4Mm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 12px;
}
.text__jEucW {
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  color: #000000d9;
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 12px;
  align-self: flex-start;
}
@media (max-width: 414px) {
  .text__jEucW {
    text-align: center;
  }
}
.text__r9Gqv {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
.freeBox__czGzz {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 8px;
  padding: 12px;
}
.freeBox__czGzz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__czGzz > :global(.__wab_flex-container) > *,
.freeBox__czGzz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__czGzz > :global(.__wab_flex-container) > picture > img,
.freeBox__czGzz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__tjbM1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__tjbM1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tjbM1 > :global(.__wab_flex-container) > *,
.freeBox__tjbM1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tjbM1 > :global(.__wab_flex-container) > picture > img,
.freeBox__tjbM1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__p8Mk8 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__isdkj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__hhqbD {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__n7ZHb {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__nvy5T {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__nvy5T > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__nvy5T > :global(.__wab_flex-container) > *,
.freeBox__nvy5T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nvy5T > :global(.__wab_flex-container) > picture > img,
.freeBox__nvy5T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__bLcZ {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___1XbT {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__gyh9Q {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__gyh9Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__gyh9Q > :global(.__wab_flex-container) > *,
.freeBox__gyh9Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gyh9Q > :global(.__wab_flex-container) > picture > img,
.freeBox__gyh9Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__sFtoV {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__z53D {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__axzfh {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__xmx84 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__lgM0L {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lgM0L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lgM0L > :global(.__wab_flex-container) > *,
.freeBox__lgM0L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lgM0L > :global(.__wab_flex-container) > picture > img,
.freeBox__lgM0L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__edPdr {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__si2Ne {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__q1IlT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__zjLq {
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  color: #000000d9;
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 12px;
  align-self: flex-start;
}
@media (max-width: 414px) {
  .text__zjLq {
    text-align: center;
  }
}
.text__w2Lcd {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__x88Sc {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 8px;
  padding: 12px;
}
.freeBox__x88Sc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__x88Sc > :global(.__wab_flex-container) > *,
.freeBox__x88Sc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x88Sc > :global(.__wab_flex-container) > picture > img,
.freeBox__x88Sc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__xwBlx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__xwBlx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xwBlx > :global(.__wab_flex-container) > *,
.freeBox__xwBlx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xwBlx > :global(.__wab_flex-container) > picture > img,
.freeBox__xwBlx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox___6Nr0H {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__bkKe3 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__pyjw {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg___1E1G2 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__m0BxX {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__m0BxX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__m0BxX > :global(.__wab_flex-container) > *,
.freeBox__m0BxX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m0BxX > :global(.__wab_flex-container) > picture > img,
.freeBox__m0BxX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__qalzd {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__vxFdF {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__iuGYm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__iuGYm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__iuGYm > :global(.__wab_flex-container) > *,
.freeBox__iuGYm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iuGYm > :global(.__wab_flex-container) > picture > img,
.freeBox__iuGYm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__xlIe8 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg___71He {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__rmmGp {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__dly25 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__tBuoY {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tBuoY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__tBuoY > :global(.__wab_flex-container) > *,
.freeBox__tBuoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tBuoY > :global(.__wab_flex-container) > picture > img,
.freeBox__tBuoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__pqDwG {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__loxfB {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__thY7C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___2J4Dt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hZoJn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-QZ9BjK-EaOkt);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___5QByd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column___3JPy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (max-width: 414px) {
  .column___3JPy {
    width: 100%;
  }
}
.freeBox__qqPt5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  border: 1px solid #e5e5ea;
}
.freeBox___8Dl3V {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox___8Dl3V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___8Dl3V > :global(.__wab_flex-container) > *,
.freeBox___8Dl3V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Dl3V > :global(.__wab_flex-container) > picture > img,
.freeBox___8Dl3V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___5H6X {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___5H6X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___5H6X > :global(.__wab_flex-container) > *,
.freeBox___5H6X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5H6X > :global(.__wab_flex-container) > picture > img,
.freeBox___5H6X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__g0Hc {
  font-size: 36px;
  font-weight: 500;
  color: var(--token-uzbJwh0c2RIc);
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 4px;
  line-height: 1.25;
  text-overflow: clip;
}
@media (max-width: 414px) {
  .text__g0Hc {
    text-align: center;
  }
}
.text__gfPhY {
  color: #05050599;
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: calc(4px + 4px) !important;
  margin-bottom: 4px;
}
.freeBox__plvI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__u01 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  color: #000000d9;
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 12px;
  align-self: flex-start;
  padding-left: 0px;
}
@media (max-width: 414px) {
  .text__u01 {
    text-align: center;
  }
}
.text__bbUi {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: flex-start;
}
.freeBox___9PxUy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__jg1Lg {
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  color: #000000d9;
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 12px;
  align-self: flex-start;
  padding-left: 0px;
}
@media (max-width: 414px) {
  .text__jg1Lg {
    text-align: center;
  }
}
.text__xrX29 {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: flex-start;
}
.freeBox__gkTkN {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__gkTkN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gkTkN > :global(.__wab_flex-container) > *,
.freeBox__gkTkN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gkTkN > :global(.__wab_flex-container) > picture > img,
.freeBox__gkTkN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jrE8Z {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__jrE8Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jrE8Z > :global(.__wab_flex-container) > *,
.freeBox__jrE8Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jrE8Z > :global(.__wab_flex-container) > picture > img,
.freeBox__jrE8Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__osaCk {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg___47ZhF {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__axdoh {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__mgr1L {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__fjmt2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fjmt2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__fjmt2 > :global(.__wab_flex-container) > *,
.freeBox__fjmt2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fjmt2 > :global(.__wab_flex-container) > picture > img,
.freeBox__fjmt2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__b1Ax {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__xaERk {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__ii9T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__n4Qva {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4Oav7 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__l52Hj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__msIhL {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.halcyonFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.halcyonFooterBottom:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
