.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.halcyonNavBar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.homeSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.heroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      var(--token-9Ww0njJV_N2T),
      var(--token-9Ww0njJV_N2T)
    ),
    url("/plasmic/copy_of_halcyon_studios/images/woman19956241920Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 70px 12px;
}
.freeBox__hYleL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-PqeNJRKjJLwv);
  margin-bottom: 8px;
  box-shadow: none;
  min-width: 0;
  padding: 8px;
}
.freeBox__hYleL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hYleL > :global(.__wab_flex-container) > *,
.freeBox__hYleL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hYleL > :global(.__wab_flex-container) > picture > img,
.freeBox__hYleL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  margin-top: calc(4px + 16px) !important;
  margin-bottom: 8px;
  min-width: 0;
}
@media (max-width: 414px) {
  .h2 {
    font-size: 36px;
    margin-top: calc(4px + 16px) !important;
  }
}
.loginFormPopup:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 461px;
  top: -730px;
}
.missionStatement {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 900px;
  color: var(--token-FLc3Q0URvh0f);
  text-align: center;
  margin-bottom: 12px;
  min-width: 0;
}
@media (max-width: 414px) {
  .missionStatement {
    font-size: 14px;
  }
}
.freeBox__dg1Vm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.halcyonFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.halcyonFooterBottom:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
