.root {
  display: flex;
  width: 500px;
  height: 100%;
  max-width: 100%;
  background: none;
  position: relative;
  flex-direction: row;
  min-height: 0;
  padding: 0px;
}
.loginFormPopup:global(.__wab_instance):global(.__wab_instance) {
  position: absolute;
  top: 10px;
  left: 0px;
  flex-shrink: 0;
}
