.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.halcyonNavBar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__ytEo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__oKp02 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__kLk2U {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-FLc3Q0URvh0f);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__epYw0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.mainSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.mainSection2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-QZ9BjK-EaOkt);
  min-width: 0;
  padding: 90px 0px;
  margin: 0px;
}
.freeBox__ccn7M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #0000001a;
  padding: 8px;
}
.text__wbWy2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  object-fit: cover;
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
.formField__mdX1:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___40FKi {
  color: var(--token-PD8ia5WAW_VH);
  font-weight: 500;
  font-size: 14px;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__u3Wtv:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__sVfwm {
  color: var(--token-PD8ia5WAW_VH);
  font-weight: 500;
  font-size: 14px;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.link {
  position: relative;
  color: #3291ff;
  font-size: 12px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}
.freeBox__cpMoz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__cfFzi {
  font-size: 12px;
  color: var(--token-PD8ia5WAW_VH);
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token-PD8ia5WAW_VH);
}
.text__bRoK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-FLc3Q0URvh0f);
  font-size: 14px;
  min-width: 0;
}
.freeBox___1481I {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-gSSJv48uawaO);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.halcyonFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.halcyonFooterBottom:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
